<table>
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Identification Code</th>
    <th scope="col">Type</th>
    <th scope="col">Fur Color</th>
    <th scope="col">Country</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pet of pet">
    <td>{{pet.name}}</td>
    <td>{{pet.identificationCode}}</td>
    <td>{{pet.type}}</td>
    <td>{{pet.furColor}}</td>
    <td>{{pet.country}}</td>
    <td>
      <a href="#" class="btn btn-primary">Edit pet</a>
    </td>
  </tr>
  </tbody>
</table>

<app-pet-form (petAdded)="onPetAdded($event)"></app-pet-form>
```
